Library/
ProjectSettings/
Assets/Scenes/
Temp/


Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
LudumDare32.sln
LudumDare32.userprefs
LudumDare32-csharp.sln
LD32.sln
LD32.userprefs
LD32-csharp.sln

Assets/RubenScene.unity
Assets/EricScene.unity
Assets/YolandaScene.unity

Assets/*.meta
Assets/Audio/*.meta
Assets/Materials/*.meta
Assets/Models/*.meta
Assets/Models/Materials/*.meta
Assets/Textures/*.meta
Assets/Scripts/*.meta
Assets/Prefabs/*.meta