Library/
ProjectSettings/
Scenes/


Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
LudumDare32.sln
LudumDare32.userprefs
LudumDare32-csharp.sln

RubenScene.unity
EricScene.unity
YolandaScene.unity

*.meta
Audio/*.meta
Materials/*.meta
Models/*.meta
Textures/*.meta
Scripts/*.meta